body {
    background-color: #F5F5F5;
}
hr {
    opacity: 0.3;
}

.App {

    h1, h2, h3, p, div {
      font-family: "Chivo", "Lucida Sans Unicode", "Lucida Grande", sans-serif
  }

  span {
    font-family: "Open Sans", Arial
  }
}
