body {
    background-color: #F5F5F5;
    overflow-x: hidden;
}
hr {
    opacity: 0.3;
}

.App {

    h1, h2, h3, p, div {
      font-family: "Chivo", "Lucida Sans Unicode", "Lucida Grande", sans-serif
  }

  span {
    font-family: "Open Sans", Arial
  }

}

.titleHead {
    display: flex;
    flex-direction: column;
    * {
        margin: 9px 0 0 0;
    }
}

.cartContain {
    width: 92vw;
    margin-left: -15px;
    padding: 20px 16px 0;
    background: white;
}

.defaultCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0;
    svg.svg-inline--fa.fa-shopping-cart.fa-w-18 {
    font-size: 4em;
    margin-bottom: 21px;
  }
}

button.checkout {
    width: 102vw;
    height: 53px;
    margin-left: -23px;
    background: #5E97D1;
    color: white;
    font-size: 1em;
}


@media only screen and (min-width: 690px) {
  .App {
    margin: 0px 40px;
  }
  .titleHead {
      flex-direction: row;
      justify-content: space-between;
      p {
          margin-top: 8px;
      }
  }
  button.checkout {
    width: 200px;
    margin: auto;
    display: flex;
    text-align: center;
    padding-left: 55px;
  }
  .cartContain {
      width: 100vw;
      margin-left: -54px;
  }


}
